# Print Command in Python!

In [ ]:
#print function 
print("Hello World")
print("Start my data science journey.")

Hello World
Start my data science journey.

## Variables in Python!

In [ ]:
age=25
print(age) #Don't need to use double quotation in printing variable.
age #We can print value of the age variable just writing only the variable name.

25

25

In [ ]:
first_name= "akram" #We should write string value in double quotation.
first_name

'akram'

In [ ]:
var=False  #We can add boolean True or False as value. 
var

False

# Invalid Varables Name

In [ ]:
9var= 100  # You can't a variable name with number.

SyntaxError: ignored

In [ ]:
%name="Hossain" #Special Character is not allowed in variable naming.

UsageError: Line magic function `%name="Hossain"` not found.

In [ ]:
variable name= "Invalid variable" #We should put an underscore to attach two words in a variable name.

SyntaxError: ignored

# Multiple Variable

In [ ]:
x,y,z= 20,30,90
x,y,z

(20, 30, 90)

In [ ]:
x,y,z= 20,30 #Missing the last value.
x,y,z

ValueError: ignored

# If else Statement in Python!

In [ ]:
temperature=30
if temperature>=30:
  print("It's a hot day!")
  print("Drink plenty of water")

It's a hot day!
Drink plenty of water

In [ ]:
temperature=20  #If the condition of "if statement" fails, it will print the last sentence under else condition.
if temperature>=30:
  print("It's a hot day!")
  print("Drink plenty of water")
else:
  print("Conditon fails.")

Conditon fails.

In [ ]:
temperature=28  #If the condition of "if statement" fails, it will print the last sentence under else condition.
if temperature>=30:
  print("It's a hot day!")
  print("Drink plenty of water")
elif temperature>=20 | temperature <30:
  print("It's a nice day")
  print("Let's have a walk")
else:
  print("Conditon fails.")

It's a nice day
Let's have a walk

In [ ]:
temperature=9  #If the condition of "if statement" fails, it will print the last sentence under else condition.
if temperature>=30:
  print("It's a hot day!")
  print("Drink plenty of water")
elif temperature>=20 | temperature <30:
  print("It's a nice day")
  print("Let's have a walk")
elif temperature<20:
  print("It's cold day!")
else:
  print("Conditon fails.")

It's cold day!

# Loop Statement!
While Loop!

In [ ]:
#Instead of writing plenty line of code we can use while statement for printing multiple lines!
i=1
while i<=10:
  print(i)
  i=i+1 # We set an increment. Which display the numbers incrementing by 1!

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<=10:
  print("Data Science")
  i=i+1

Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science

In [ ]:
i=1
while i<=10:
  print(i* "%")
  i=i+1

%
%%
%%%
%%%%
%%%%%
%%%%%%
%%%%%%%
%%%%%%%%
%%%%%%%%%
%%%%%%%%%%

# For LOOP

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] #For loop need less line of code than while loop
for output in numbers:
  print(output)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for output in numbers:
  print("Data Science") #We want to print "Data Science" string in 10 times.

Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science